doctype
html(lang="es_CO")
  head
    title="fnr"
    meta(charset="utf8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(href="https://www.fontify.me/wf/db5f6103ec071f63969aec4db3f06816" rel="stylesheet" type="text/css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.2/css/bulma.min.css")
    link(rel="stylesheet" href="sass/index.min.css")
